.flex-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .image {
    flex: 1;
    margin-left: 4%;
  }
  
  .image-style {
  
    margin-bottom: 10px;
  }
  
  .content {
    flex: 2;
    margin-left: 5%;
  }
  
  .experience-item {
    margin-bottom: 20px;
  }
  .Box{
    margin: 2%;
  }

  .content {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
  }
  
  .experience-item h3 {
    color: #333;
  }
  
  .experience-item p {
    color: #514f4f;
  }
  .star-image{
    display: flex;
  }
  